.userInputTextBox {
  border-radius: 15px !important;
  left: auto;
  top: auto;
}

.userInput {
  width: 40% !important;
}

.inputRow,
.optionRow {
  display: flex;
  justify-content: space-evenly;
}

.optionPanel {
  position: absolute !important;
  bottom: 10px !important;
}

.currentWord {
  background-color: #263238;
  border-radius: 7px;
  color: white;
}

.sampleText {
  background: white;
  padding: 20px;
  /* border: solid rgb(194, 194, 194); */
  border-radius: 10px;
  border-width: 1px;
}
